{% extends 'home.html' %}
{% block title %}Competitive Coding{% endblock title%}
{% block body %}
<div class="container">
          <div class="display">
                <h3 class="text-light display-4 mt-100">Hello! World</h3>
                <!-- <p class="text-light display-4 mt-100">This is our new website to provide a fun and interesting and a joyful experience and learning towards
                    Competitive Coding. So, lets start our journey and hope to be liked by you all.<br>Thank You</p> -->

                <div class="container text-light">
                    <div class="left">
                        <h4>PRACTICE</h4>
                        <ul class="list">
                            <li><a href="https://drive.google.com/file/d/1Sp1lNPur0mJTtDx4KvEWtmzgqcug7aTI/view?usp=sharing" target="_blank">Noobie Problems</a></li>
                            <li><a href="https://drive.google.com/file/d/1B9A8tFw4d19mkrYzV2tcH62HgXigA7sq/view?usp=sharing" target="_blank">Arrays</a></li>
                        </ul>
                    </div>
                    <div class="right">
                        <h4>WEEKLY CHALLENGE</h4>
                        <ul class="list">
                            <li></li>
                        </ul>
                        </div>
                </div>
            </div>
        </div>
{% endblock body %}