{% extends 'home.html' %}
{% block title %}Home{% endblock title%}
{% block body %}
<div class="container">
  <div class="display">
        <div class="left1">
        <h3 class="text-light display-4 mt-100">WELCOME</h3>
        <p class="text-light display-4 mt-100">This is our new website to provide a fun, interesting, and a joyful experience and learning towards
            Competitive Coding. So, lets start our journey and hope to be liked by you all.<br>Thank You</p>
        </div>
        <div class="right1">
        <iframe class="text-light display-4 mt-100" src="static/announce.html" height="350"></iframe>
        </div>
  </div>

</div>
{% endblock body %}