{% extends 'home.html' %}
{% block title %}Learning{% endblock title%}
{% block body %}

 <div class="container">
  <div class="display">
        <h3 class="text-light display-4 mt-100">Hello! World</h3>
    </div>
    <div>
        <ol class="list">
            <li><strong>Complete Beginner to coding?</strong></li>
            <ul class="list">
                <li><a href="https://youtu.be/gfDE2a7MKjA" target="_blank">Complete PYTHON Tutorial with Notes</a></li>
                <li><a href="https://youtu.be/ZSPZob_1TOk" target="_blank">Complete C Tutorial with Notes</a></li>
            </ul>
            <li><strong>Asymptotic analysis (Big-O notation)</strong></li>
            <ul class="list">
                <li><strong>Basic</strong></li>
                <ul class="list">
                    <li><a href="https://www.youtube.com/watch?v=V42FBiohc6c&list=PL2_aWCzGMAwI9HK8YPVBjElbLbI3ufctn" target="_blank">Time complexity of a computer program</a></li>
                    <li><a href="https://www.youtube.com/watch?v=__vX2sjlpXU" target="_blank">Big-O notation in 5 minutes - The basics</a></li>
                    <li><a href="https://www.youtube.com/watch?v=i1F_Uu0bYCc" target="_blank">Definition Of Big O Notation - Intro to Theoretical Computer Science</a></li>
                    <li><a href="https://www.youtube.com/watch?v=aGjL7YXI31Q" target="_blank">Algorithms Lecture 1 -- Introduction to asymptotic notations</a></li>
                    <li><a href="https://www.iarcs.org.in/inoi/online-study-material/topics/efficiency.php" target="_blank">Measuring the efficiency of algorithms</a></li>

                </ul>
            </ul>
            <ul class="list">
                <li><strong>Advanced</strong></li>
                <ul class="list">
                    <li><a href="https://rob-bell.net/2009/06/a-beginners-guide-to-big-o-notation/" target="_blank">A beginner's guide to Big O notation</a></li>
                    <li><a href="https://www.youtube.com/watch?v=v4cd1O4zkGw" target="_blank">Big O Notation, Gayle Laakman McDowell</a></li>
                    <li><a href="http://web.mit.edu/16.070/www/lecture/big_o.pdf" target="_blank">Big O notation</a></li>
                    <li><a href="https://www.youtube.com/watch?v=ncpTxqK35PI" target="_blank">Time and space complexity analysis of recursive programs - using factorial</a></li>
                </ul>
            </ul>
            <li><strong>Array</strong></li>
            <ul class="list">
                <li><a href="https://www.cs.cmu.edu/~rjsimmon/15122-f14/lec/04-arrays.pdf" target="_blank">Arrays</a></li>
                <li><a href="http://www.geeksforgeeks.org/array-data-structure/" target="_blank">Arrays Data Structure</a></li>
            </ul>
            <li><strong>String</strong></li>
            <ul class="list">
                <li><a href="https://www.tutorialspoint.com/cplusplus/cpp_strings.htm" target="_blank">C++ strings</a></li>
                <li><a href="https://www.guru99.com/java-strings.html" target="_blank">Java strings</a></li>
                <li><a href="https://docs.python.org/2/library/string.html" target="_blank">Python strings</a></li>
            </ul>
            <li><strong>Stack and Queue</strong></li>
            <ul class="list">
                <li><a href="http://www.geeksforgeeks.org/stack-data-structure/" target="_blank">Stack Data Structure</a></li>
                <li><a href="http://www.geeksforgeeks.org/queue-set-1introduction-and-array-implementation/" target="_blank">Introduction and Array Implementation</a></li>
                <li><a href="https://www.tutorialspoint.com/data_structures_algorithms/stack_algorithm.htm" target="_blank">Data Structures Algorithms</a></li>
                <li><a href="https://www.cs.cmu.edu/~wlovas/15122-r11/lectures/10-stacks.pdf" target="_blank">Stacks</a></li>
                <li><a href="https://www.cs.cmu.edu/~adamchik/15-121/lectures/Stacks%20and%20Queues/Stacks%20and%20Queues.html" target="_blank">Stacks and Queues</a></li>
            </ul>
            <li><strong>Basic Recursion</strong></li>
            <ul class="list">
                <li><a href="https://www.topcoder.com/community/data-science/data-science-tutorials/an-introduction-to-recursion-part-1/" target="_blank">An Introduction to Recursion: Part 1</a></li>
                <li><a href="https://www.topcoder.com/community/data-science/data-science-tutorials/an-introduction-to-recursion-part-2/" target="_blank">An Introduction to Recursion: Part 2</a></li>
                <li><a href="http://www.geeksforgeeks.org/recursion/" target="_blank">Recursion</a></li>
                <li><a href="http://web.mit.edu/6.005/www/fa15/classes/10-recursion/" target="_blank">Recursion Examples</a></li>
                <li><a href="https://loveforprogramming.quora.com/Backtracking-Memoization-Dynamic-Programming" target="_blank">Backtracking, Memoization & Dynamic Programming</a></li>
                <li><a href="https://www.byte-by-byte.com/recursion/" target="_blank">Recursion for Coding Interviews</a></li>
            </ul>
            <li><strong>Greedy Algorithms</strong></li>
            <ul class="list">
                <li><a href="https://www.iarcs.org.in/inoi/online-study-material/topics/greedy.php" target="_blank">Greedy Algorithms 1</a></li>
                <li><a href="https://www.iarcs.org.in/inoi/online-study-material/problems/buffalos-soln.php#solution" target="_blank">Greedy Algorithms 2</a></li>
                <li><a href="https://www.topcoder.com/community/data-science/data-science-tutorials/greedy-is-good/" target="_blank">Greedy Algorithms 3</a></li>
                <li><a href="http://jeffe.cs.illinois.edu/teaching/algorithms/book/04-greedy.pdf" target="_blank">Greedy Algorithms PDF</a></li>
            </ul>
            <li><strong>Dyanmic Programming</strong></li>
            <ul class="'list">
                <li><a href="https://medium.freecodecamp.org/demystifying-dynamic-programming-3efafb8d4296" target="_blank">Demystifying Dynamic Programming</a></li>
                <li><a href="https://www.iarcs.org.in/inoi/online-study-material/topics/dp-tiling.php" target="_blank">Dynamic Programming - Tiling</a></li>
                <li><a href="https://www.topcoder.com/community/data-science/data-science-tutorials/dynamic-programming-from-novice-to-advanced/" target="_blank">Dynamic Programming</a></li>
                <li><a href="http://jeffe.cs.illinois.edu/teaching/algorithms/book/03-dynprog.pdf" target="_blank">Dynamic Programming : (Exercises are recommended)</a></li>
                <li><a href="https://www.youtube.com/watch?v=OQ5jsbhAv_M" target="_blank">Dynamic Programming I</a></li>
                <li><a href="https://www.youtube.com/watch?v=ENyox7kNKeY" target="_blank">Dynamic Programming II</a></li>
                <li><a href="https://www.youtube.com/watch?v=ocZMDMZwhCY" target="_blank">Dynamic Programming III</a></li>
                <li><a href="https://www.youtube.com/watch?v=tp4_UXaVyx8" target="_blank">Dynamic Programming IV </a></li>
            </ul>
            <li><strong>Naive string searching</strong></li>
            <ul class="'list">
                <li><a href="http://www.geeksforgeeks.org/searching-for-patterns-set-1-naive-pattern-searching/" target="_blank">Naive Pattern Searching</a></li>
            </ul>
            <li><strong>Sorting</strong></li>
            <ul class="'list">
                <li><a href="https://www.khanacademy.org/computing/computer-science/algorithms/sorting-algorithms/a/sorting" target="_blank">Sorting I</a></li>
                <li><a href="https://visualgo.net/en/sorting?slide=1" target="_blank">Sorting II</a></li>
                <li><a href="https://www.iarcs.org.in/inoi/online-study-material/topics/sorting.php" target="_blank">Sorting III</a></li>
                <li><a href="https://www.youtube.com/watch?v=TzeBrDU-JaY" target="_blank">Merge sort algorithm</a></li>
                <li><a href="https://www.youtube.com/watch?v=COk73cpQbFQ" target="_blank">Quick sort algorithm</a></li>
                <li><a href="http://www.geeksforgeeks.org/counting-sort/" target="_blank">Counting Sort</a></li>
            </ul>

        </ol>

    </div>
</div>
{% endblock body %}