<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="icon" href="static/lap.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Coderz Ensemble!</title>
</head>

<body class="bg-nav">
    <nav class="navbar">
        <p class="navbar-brand text-light">Coderz Ensemble</p>
    </nav>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 class="text-light display-4 mt-100" style="font-family: 'Dancing Script', cursive;">Programming is a
                    challenging role and once you enter this field you will encounter new hurdles and life enduring
                    challenges.</h3>
            </div>
            <div class="col-md-4">
                <div class="card mt-100">
                    <div class="card-body">
                        <form class="form" method="post" action="/signup">
                            {% csrf_token %}
                            <label><strong>Username</strong></label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Provide an unique Username"><br>
                            <label><strong>Email</strong></label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email(Optional)"><br>
                            <label><strong>Password</strong></label><br>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your Password"><br>
                            <input type="submit" class="btn btn-primary btn-block btn-lg" value="Sign Up"><br>
                        </form>
                        <p class="mt-2"><strong>Already a member?</strong> <a href="/">Login Here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
</body>

</html>